* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background: red;
}
.animation-container {
  width: 500px;
  height: 500px;

  margin: auto;
}
.container {
  height: 100%;
}
.footer__component {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: end;
  width: 100%;
  height: 800px;
  overflow: hidden;
  z-index: 10000;
  color: white;
}

// FOOTER WAVES

.footer__component .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #134354;
}
.footer__component .wave span {
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fafafa;
  -webkit-transform: translate(-50%, -75%);
  -moz-transform: translate(-50%, -75%);
  -ms-transform: translate(-50%, -75%);
  -o-transform: translate(-50%, -75%);
}
.footer__component .wave span:nth-child(1) {
  animation: animate 5s linear infinite;
  border-radius: 45%;
  background: rgb(216, 211, 211);
  -webkit-border-radius: 45%;
  -moz-border-radius: 45%;
  -ms-border-radius: 45%;
  -o-border-radius: 45%;
}
.footer__component .wave span:nth-child(2) {
  animation: animate 10s linear infinite;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
}
.footer__component .wave span:nth-child(3) {
  animation: animate 15s linear infinite;
  border-radius: 42.5%;
  background: rgba(255, 255, 255, 0.844);
}
@keyframes animate {
  0% {
    transform: translate(-50%, -85%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -85%) rotate(360deg);
  }
}

.content {
  flex: 1 0 auto;
}

.Footer__container {
  position: absolute;
  bottom: 0;
  color: #fff;
  mix-blend-mode: lighten;
  height: 100px !important;
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: space-between !important ;
  div:nth-of-type(1) {
    h2 {
      color: white;
      font-family: "BebasNeue";
      font-size: 80px;
      line-height: 100px;
      font-weight: 100;
      max-width: 400px;
    }
  }
  p {
    color: #fff;
    margin-top: 105px;
  }
  div.info {
    max-width: 350px;
    width: -webkit-fill-available;
    // margin-right: 100px;

    .container-info {
      margin: 30px 0;

      h3 {
        color: rgba(255, 255, 255, 0.5);
      }

      a {
        color: white;
      }
    }

    div:nth-of-type(2) {
      margin: 25px 0;
    }

    .social-links {
      div a {
        margin: 5px 0;
      }

      h3 {
        margin: 0;
      }

      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }

    h3 {
      color: rgba(255, 255, 255, 0.5);
    }

    a {
      color: #fff;
    }
  }
}
.row {
  margin: 50px;
}
.footer__title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  width: 250px;
}

.services-container {
  height: 100%;

  display: flex;
  flex-direction: column;
}
.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service {
  flex: 50%;
  padding-right: 5%;
  padding-left: 5%;
}
@media (max-width: 768px) {
  .service {
    width: 100%;
  }
}
